.shopping-cart{
    display: block;
    align-items: center;
    justify-content: center;
}

.cart-img img{
    width: 45px;
    height: 45px;
}

.cart__count{
    background-color: pink;
    width: 35px;
    height: 35px;
    border-radius: 80%;
    padding: 1px;
    color: wheat;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}